<% include ../partials/header %>
  <% include ../partials/navBar %>
    <div class="content-wrapper">
      <% include ../partials/modalAcceptAccount %>
    </div>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/assets/script/home/purchases.js"></script>
    <% include ../partials/footerBar %>
      <% include ../partials/footer %>