<% include ../partials/header %>
  <% include ../partials/navBar %>
  <link rel="stylesheet" href="/static/assets/style/home/produto.css" />
    <div class="content-wrapper">
      <% include ../partials/modalAcceptAccount %>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <div style="margin:10px;">
          <form id="form_product" method="POST">
            <div class="form-group row">
              <div class="col-6">
                  <label for="example-text-input" class="col-form-label">Nome</label>
                <input required class="form-control" minlength="3" maxlength="40" name="nome" type="text" placeholder="Informe nome do produto"
                  id="nome">
                </div>
              <div class="col-6">
                  <label for="example-text-input" class="col-form-label">Código do fornecedor</label>
                <input required class="form-control" min="0" name="cod_fornec" type="number" placeholder="Informe código do fornecedor"
                  id="cod_fornec">
                </div>  
            </div>

            <div class="form-group row">
              <div class="col-6">
                  <label for="qtd" class="col-form-label">Quantidade</label>
                <input min="0" required class="form-control" placeholder="informe quantidade" type="number" name="qtd" id="qtd">
              </div>
              <div class="col-6">
                  <label for="valor" class="col-form-label">Valor unitário R$</label>
                  <input required class="form-control" placeholder="informe valor unitário" type="number" step="0.01" name="valor" id="valor">
              </div>
            </div>
            <div style="display:flex; width:100%; justify-content:center">
              <button class="btn btn-primary" form="form_product">Salvar</button>
            </div>
          </div>
        </form>

        <h1 style="text-align:center">Lista de compra</h1>
        <div class="card mb-3">
          <div class="card-header">
            <i class="fa fa-table"></i> Compra</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Código do fornec</th>
                    <th>Nome fornec</th>
                    <th>Nome do produto</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Total</th>
                    <th>Ações</th>
                  </tr>
                </thead>
                <tbody id="table_body">

                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Certifique-se antes de enviar</div>
          </div>
          <div style="display:flex;width:100%;justify-content:center">
            <button onclick="showWarning()"  class="btn btn-primary">Finalizar Pedido</button>
          </div>

    </div>


    <div class="modal fade" id="purveyorNotFound" tabindex="0" role="dialog" aria-labelledby="label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="label">Aviso</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body alert alert-warning">Fornecedor não encontrado</div>
            <div class="modal-footer">
              <button data-dismiss="modal" id="btnHideModal" class="btn btn-primary">Ok</button>
            </div>
          </div>
        </div>
     </div>

     <div class="modal fade" id="errorFind" tabindex="0" role="dialog" aria-labelledby="label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="label">Aviso</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body alert alert-warning">Error no servidor, tente novamente em instantes</div>
            <div class="modal-footer">
              <button data-dismiss="modal" id="btnHideModal" class="btn btn-primary">Ok</button>
            </div>
          </div>
        </div>
     </div>

     <div class="modal fade" id="confirmPedido" tabindex="0" role="dialog" aria-labelledby="label" aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="label">Aviso</h5>
           <button class="close" type="button" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">×</span>
           </button>
         </div>
         <div class="modal-body alert alert-info">O pedido de compra será criado</div>
         <div class="modal-footer">
           <button onclick="sendPedido()" data-dismiss="modal" class="btn btn-primary">Finalizar</button>
         </div>
       </div>
     </div>
  </div>
      <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/assets/script/home/produto.js"></script>
    <% include ../partials/footerBar %>
      <% include ../partials/footer %>