<% include ../partials/header %>
  <link href="/assets/style/forgotPassword.css" rel="stylesheet" />
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Reset Password</div>
      <div class="card-body">
        <div class="text-center mt-4 mb-5">
          <h4>Forgot your password?</h4>
          <p>Enter your email address and we will send you instructions on how to reset your password.</p>
        </div>
        <form method="POST" onsubmit="return afterSubmit()">
          <div class="form-group">
            <input name="email" class="form-control" id="recuperarSenha" type="email" aria-describedby="emailHelp" placeholder="Enter email address">
          </div>
          <input value="Reset Password" class="btn btn-primary btn-block" type="submit" />
        </form>
        <% if('success' in locals) { %>
          <div class="alert alert-success" role="alert">
            <strong>Ok,</strong> check your email!
            <button id="button_card_success" type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <%}%>
            <div class="text-center">
              <a class="d-block small mt-3" href="/register">Register an Account</a>
              <a class="d-block small" href="/login">Login Page</a>
            </div>
      </div>
    </div>
  </div>
  <div id="messageError" class="card_error">
    <h2>Informe um email válido</h2>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/assets/script/forgotPassword.js"></script>
  <% include ../partials/footer %>