<% include ../partials/header %>
<% include ../partials/navBar %>
      <div class="content-wrapper">
<% include ../partials/modalAcceptAccount %>    
         <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <h1>Bem vindo <%= 'user' in locals ? locals.user.name : '' %></h1>
      </div>
           
<% include ../partials/footerBar %>
<% include ../partials/footer %>        